asgiref==3.6.0
autopep8==2.0.2
backports.zoneinfo==0.2.1
Django==4.2
django-filter==23.1
djangorestframework==3.14.0
mysqlclient==2.1.1
pycodestyle==2.10.0
pytz==2019.3
sqlparse==0.4.3
tomli==2.0.1
validate-docbr==1.10.0
